<%- include('../partials/head') %>
    <%- include('../partials/nav') %>

        <main>
            <div class="folders">
                <div class="containerFandT">
                    <div class="folderTitle">
                        <h1>
                            <%= locals.folder.name %>
                        </h1>
                        <a href="/add-file" class="btn btn-primary">Add File</a>

                    </div>
                    <div class="folderContainer">


                    </div>
                </div>
            </div>
        </main>

        <%- include('../partials/footer') %>